/company_data
/figure1.png
/histogram.png
/Figure_1.png
/pycache
/zip.csv
/Maharashtra.csv
/company-master-updated
/authorized_plot.py
/companies_register.py
/disctrict_wise.py
/groupwise.py
/plotting.py
